<!DOCTYPE html>
<html>
  <head>
    <title>V2Ray配置生成器</title>
    <link type="text/css" rel="stylesheet" href="semantic.min.css"  media="screen,projection"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div class="ui container">
      

      <div class="ui grid" id="main">
        <div class="six wide column">
          <h3>设置</h3>
          <div id="settings" class="ui form">
            <ol>
              <div v-for="service in services">
                <li>
                  <div id="type">
                    <h4 class="ui dividing header">服务{{$index + 1}}: 服务种类</h4>
                    <div class="field">
                      <select v-model="service.type">
                        <option value="vmess">VMess</option>
                        <option value="shadowsocks">Shadowsocks</option>
                      </select>
                    </div>
                  </div>

                  <div id="vmess-config" v-if="service.type=='vmess'">
                    <h4 class="ui dividing header">VMess设置</h4>

                    <h5 class="ui dividing header">用户设置</h5>
                    <ul>
                      <li v-for="user in service.users">
                        <button class="compact red ui button" v-on:click="removeUser(service.users, $index)">delete</button>
                        <div class="field">
                          <label for="uuid-vmess-{{$index}}">用户uuid（点击<a href="https://www.uuidgenerator.net/" target="_blank">这里</a>生成）</label>
                          <input type="text" class="active" maxlength="36" v-model="user.uuid" id="uuid-vmess-{{$index}}"></input>
                        </div>

                        <div class="field">
                          <label>使用的alterID数量（越大越不容易被识别，但消耗越大）</label> 
                          <input type="text" class="active" maxlength="4" v-model="user.alterid"></input>
                        </div>
                      </li>
                    </ul>
                    <button class="ui button" v-on:click="addUser(service.users)">添加用户</button>
                    
                    <h5 class="ui dividing header">端口设置</h5>
                    <ul>
                      <li v-for="port in service.ports">
                        <button class="red compact ui button" v-on:click="removePort(service.ports, $index)">Delete</button>
                        <div class="field">
                          <label>端口号(1 ~ 65535)</label>
                          <input type="number" class="active" number v-model="port.number" min="1" max="65535"></input>
                        </div>

                        <div class="field">
                          <div class="ui checkbox">
                            <input type="checkbox" class="ui checkbox" id="dynamic-vmess-{{$index}}" v-model="port.dynamic">
                            <label for="dynamic-vmess-{{$index}}">                    是否是动态端口（可能减少流量管控限制，也可能更快被封） </label>
                          </div>
                        </div>
                        
                        <div class="field">
                          <span v-if="port.dynamic">
                            <label>动态端口范围（a-b形式）</label>
                            <input type="text" class="active" v-model="port.dynrange"></input>
                          </span>
                        </div>

                        <div class="field">
                          <div class="ui checkbox">
                            <input type="checkbox" class="ui checkbox" v-model="port.iskcp" id="iskcp-vmess-{{$index}}"></input>
                            <label for="iskcp-vmess-{{$index}}">是否是mKCP协议（可能更快，也可能彻底被封或不稳定）</label>
                          </div>
                        </div>
                        
                      </li>
                    </ul>
                    <button class="ui button" v-on:click="addPort(service.ports)">添加端口</button>
                  </div>
                </li>
              </div>
            </ol>
          </div>
        </div>
        <div class="five wide column">
          <h3>服务端配置</h3>
          <pre>{{ services | json 4 }} </pre>
        </div>
        <div class="five wide column">
          <h3>客户端配置</h3>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="semantic.min.js"></script>
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="main.js"> </script>

  </body>
</html>
